.dashboard-cont{
    width: 95%;
    height: 100vh;
    border: 1px solid cyan;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .destek-cont{
    width: 95%;
    height: 100vh;
    border: 1px solid cyan;
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }